USE [dbwins_demo2]
GO
SELECT [VendorID]
      ,[VendorName]
      ,[VendorNameEng]
      ,[ShortName]
      ,[VendorCode]
      ,[VendorTitle]
      ,[VendorType]
      ,[TaxId]
      ,[VendorAddr1]
      ,[VendorAddr2]
      ,[District]
      ,[Amphur]
      ,[Province]
      ,[PostCode]
      ,[ContTel]
      ,[ContFax]
  FROM [EMVendor]